/* SOBRE */
.sobre {
  background: rgba(0,0,0,0.6);
  color: white;
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between;
  gap: 20px; 
}

.sobre h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  width: 100%
}

.sobre-conteudo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.sobre-texto {
  flex: 2;
  text-align: left;
}

.sobre img {
  flex: 1;
  width: 200px;
  max-width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.sobre h2::after {
  content: "";
  display: block;
  width: 600px;
  height: 4px;
  background: #b2ebf2;
  border-radius: 2px;
  margin: 8px auto 16px auto;
}

/* Responsividade */
@media (max-width: 1200px) {
  .sobre {
    max-width: 90%;
    margin: 20px auto;
  }
  .sobre h2::after {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .sobre-conteudo {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .sobre img {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .sobre {
    margin: 10px;
    padding: 15px;
  }
  .sobre h2 {
    font-size: 1.5rem;
  }
  .sobre img {
    width: 100%;
  }
}